@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  background: #f8f9f9;
}

body {
  max-width: 100vw;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  background-image: url(src/assets/Left-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 160px;
}

.swiper-button-next {
  background-image: url(src/assets/Right-arrow.svg) !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.slick-slider .slick-next {
  width: 120px;
  height: 30px;
  z-index: 3;
  right: 10px;
}

.slick-slider .slick-prev {
  z-index: 3;
  left: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #f0bc26;
}

.slick-dots li button:before {
  margin-top: -50px;
  font-size: 14px;
  color: #003b65;
}
